.Calculator{
  width: 400px;
  height: 400px;
  background-color: rgb(142, 142, 142);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display{
  width: 390px;
  height: 100px;
  background-color: aliceblue
}

.buttons{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 390px;
  height: 250px;
}

.buttons > button {
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}